<div class="flex-grow">
  <section class="container mx-auto max-w-[1200px] py-5 lg:flex lg:flex-row lg:py-10">
    <h2 class="px-5 mx-auto text-2xl font-bold md:hidden">Complete Address</h2>
    <section class="grid w-full max-w-[1200px] grid-cols-1 gap-3 px-5 pb-10">
      <table class="hidden lg:table">
        <thead class="h-16 bg-neutral-100">
          <tr>
            <th [ngClass]="{ 'bg-purple-900 text-white': currentStep === 1 }">
              DIRECCION
            </th>
            <th [ngClass]="{ 'bg-purple-900 text-white': currentStep === 3 }">
              METODO DE PAGO
            </th>
          </tr>
        </thead>
      </table>

      <ng-container *ngIf="currentStep === 1">
        <app-address (streetChange)="setStreet($event)" (cityChange)="setCity($event)"
          (zipChange)="setZip($event)"></app-address>
      </ng-container>
      <ng-container *ngIf="currentStep === 2">
        <app-review [products]="cart"></app-review>
      </ng-container>

      <div class="flex items-center justify-between w-full">
        <a routerLink="/cart" class="hidden text-sm lg:block text-violet-900">← Regresar a la tienda</a>
        <div class="flex justify-center gap-2 mx-auto lg:mx-0">
          <a (click)="prevStep()" class="px-4 py-2 text-white bg-purple-900"
            [ngClass]="{ hidden: currentStep === 1 }">Paso anterior</a>
          <a (click)="nextStep()" class="px-4 py-2 text-white bg-slate-400">
            {{ currentStep === 3 ? "Pagar" : "Siguiente Paso" }}
          </a>
        </div>
      </div>
    </section>
    <!-- Summary  -->

    <section class="mx-auto w-full px-4 md:max-w-[400px]">
      <div class="">
        <div class="px-4 py-5 border shadow-md">
          <p class="font-bold">Resumen del pedido</p>

          <div class="flex justify-between py-5 border-b">
            <p>Subtotal</p>
            <p>{{ order.totalPrice|currency}}</p>
          </div>

          <div class="flex justify-between py-5 border-b">
            <p>Envio</p>
            @if(order.totalPrice>100000){
            <p>Envío gratis</p>
            }
            @else {
            <p>{{8000|currency}}</p>
            }
          </div>

          <div class="flex justify-between py-5">
            <p>Total</p>
            <p>{{ order.totalPrice>100000?order.totalPrice:order.totalPrice+8000| currency }}</p>
          </div>
        </div>
      </div>
    </section>
  </section>

</div>