<div>
    <div class="relative">
      <img class="w-full object-cover brightness-50 filter lg:h-[500px]" src="./assets/images/contact-bg.jpeg"
        alt="Iphone with Macbook image" />
  
      <div
        class="absolute top-1/2 left-1/2 mx-auto flex w-11/12 max-w-[1200px] -translate-x-1/2 -translate-y-1/2 flex-col text-center text-white lg:ml-5">
        <h1 class="text-4xl font-bold sm:text-5xl">Terminos y condiciones</h1>
        <!-- <p class="mx-auto pt-3 text-xs lg:w-3/5 lg:pt-5 lg:text-base">
          Estamos aquí para apoyarte. Si deseas más información sobre nuestros productos, servicios o tienes alguna
          inquietud, no dudes en contactarnos.
          Completa el formulario o utiliza los medios de contacto que te dejamos a continuación. ¡Te responderemos lo
          antes posible!
        </p> -->
      </div>
    </div>
  </div>
  <div class="mx-auto max-w-[1200px] text-center mt-5">
    <h1>TÉRMINOS Y CONDICIONES DE USO</h1>
    <br>
    <h2 class="mt-5">Última actualización: 07/05/2025</h2>
    <br>
</div>
<h2 class="mt-5">COBERTURA DE LA GARANTÍA</h2>
  <div style="text-align: justify;" class="ml-5 mt-5">
    <p>
        Los productos comercializados por Motoline S.A.S. cuentan con garantía legal conforme a lo establecido en la Ley 1480 de 2011 (Estatuto del Consumidor). La duración y cobertura de la garantía varía según el tipo de producto y será indicada en la descripción del mismo o en el empaque/documentación del fabricante.
    </p>
  </div>
  <h2 class="mt-5">EXCLUSIONES DE LA GARANTÍA</h2>
  <div style="text-align: justify;" class="ml-5 mt-5">
    <p>
        No se otorgará garantía en los siguientes casos:
    </p>
        <ul>&bull;Uso inadecuado del producto o instalación incorrecta.</ul>
        
        <ul>&bull;Daños ocasionados por accidentes, golpes, sobrecargas eléctricas, humedad o alteraciones externas.</ul>
            
        <ul>&bull;Modificaciones, reparaciones no autorizadas o intervención de terceros.</ul>
            
        <ul>&bull;Desgaste natural por uso normal.</ul>
            
        <ul>&bull;Partes eléctricas, por su naturaleza, no tienen garantía ni cambio.</ul>
  </div>
  <h2 class="mt-5">PROCEDIMIENTO PARA SOLICITAR GARANTÍA</h2>
  <div style="text-align: justify;" class="ml-5 mt-5">
    <p>
        1. Escribir a [correomotoline.com.co] adjuntando:
    </p>
        <ul>&bull;Número de pedido y fecha de compra.</ul>
        
        <ul>&bull;Descripción detallada del fallo o defecto.</ul>
        
        <ul>&bull;Fotografías o videos que evidencien el daño o mal funcionamiento.</ul>
    <p>    
        2.Una vez recibida la solicitud, Motoline evaluará la información y podrá requerir la devolución del producto para su análisis técnico.<br>
    
        3. El tiempo de respuesta para aprobación o rechazo de garantía es de hasta 15 días hábiles, conforme al artículo 58 de la Ley 1480.
    </p>
  </div>
  <h2 class="mt-5">OPCIONES EN CASO DE APROBACIÓN</h2>
  <div style="text-align: justify;" class="ml-5 mt-5">
    <p>
        Si la garantía es aprobada, el cliente podrá recibir, según corresponda:
    </p>
        <ul></ul>Reparación del producto (sin costo para el cliente).
        
        <ul></ul>Cambio por un producto nuevo o equivalente.
        
        <ul></ul>Nota crédito para redimir en el sitio web (no aplica devolución de dinero).
  </div>
  <h2 class="mt-5">GASTOS DE TRANSPORTE</h2>
  <div style="text-align: justify;" class="ml-5 mt-5">
        <ul></ul>Si la garantía es procedente, Motoline asumirá los costos de envío asociados.

        <ul></ul>Si la garantía es rechazada, el cliente deberá asumir los gastos de transporte para el retorno del producto.
  </div>
  <h2 class="mt-5">VALIDEZ</h2>
  <div style="text-align: justify;" class="ml-5 mt-5">
    <p>
        Esta política aplica exclusivamente para compras realizadas en www.motoline.com.co y está sujeta a modificaciones sin previo aviso.
    </p>
  </div>
