<div>
  <div class="relative">
    <img class="w-full object-cover brightness-50 filter lg:h-[500px]" src="./assets/images/abotus.jpg"
      alt="Iphone with Macbook image" />

    <div
      class="absolute top-1/2 left-1/2 mx-auto flex w-11/12 max-w-[1200px] -translate-x-1/2 -translate-y-1/2 flex-col text-center text-white lg:ml-5">
      <h1 class="text-4xl font-bold sm:text-5xl">Sobre nosotros</h1>
      <p class="mx-auto pt-3 text-xs lg:w-3/5 lg:pt-5 lg:text-base">
        Repuestos de calidad, atención confiable y todo lo que tu moto necesita. Somos tu aliado en cada kilómetro.
    </div>
  </div>
</div>

<section class="flex-grow">
  <div class="mt-6 flex flex-col gap-3">
    <img class="mx-auto w-[200px]" src="./assets/images/logomotoline.png" alt="Maybell Logo" />
    <p class="text-center text-sm">Desde </p>
  </div>

  <div class="mx-auto my-10 flex max-w-[600px] flex-col items-center justify-center px-5">
    <h2 class="w-full text-left text-xl font-bold">Nuestra Misión:
      :</h2>
    <p class="py-3">
      Nuestra misión es brindar a los motociclistas de Colombia una experiencia de compra fácil, rápida y confiable en repuestos y accesorios de alta calidad. Queremos que cada cliente encuentre justo lo que necesita para mantener su moto en óptimas condiciones, con atención personalizada, precios competitivos y un servicio transparente que inspire confianza en cada paso. Nos esforzamos por ser ese aliado cercano que entiende las necesidades reales del motociclista moderno.
    </p>
    <div class="grid grid-cols-1 gap-3 lg:grid-cols-3">
      <img class="object-cover" src="./assets/images/mission-family.jpg" alt="Family in living room" />
      <img class="object-cover" src="./assets/images/mission-interior.jpg" alt="Interior" />
      <img class="object-cover" src="./assets/images/mission-materials.jpg" alt="Materials" />
    </div>
    <p class="py-3">
      Además, estamos comprometidos con la innovación, la generación de empleo y la sostenibilidad ambiental. Creemos que crecer como empresa también implica aportar al desarrollo de nuestra comunidad, ofreciendo productos responsables y soluciones que hagan de cada viaje en moto una experiencia segura, eficiente y placentera.
    </p>

    <h2 class="mt-3 w-full text-left text-xl font-bold">Nuestra vision:</h2>
    <p class="py-3">
      Ser una empresa líder y confiable en Colombia como proveedor de confianza para los motociclistas, ofreciendo la más amplia gama de repuestos y accesorios de alta calidad. Nos enfocamos en brindar un servicio excepcional y una experiencia de compra única que no solo impulse el crecimiento sostenible de nuestra empresa, sino que también contribuya activamente al desarrollo y la seguridad de la comunidad motociclista en el pais.
    </p>
    <div class="grid grid-cols-1 gap-3 lg:grid-cols-3">
      <img class="object-cover" src="./assets/images/mission-family.jpg" alt="Family in living room" />
      <img class="object-cover" src="./assets/images/mission-interior.jpg" alt="Interior" />
      <img class="object-cover" src="./assets/images/mission-materials.jpg" alt="Materials" />
    </div>
  </div>
</section>