<section class="mx-auto flex-grow w-full mt-10 mb-10 max-w-[1200px] px-5">
  <div class="container mx-auto border px-5 py-5 shadow-sm md:w-1/2">
    <div>
      <p class="text-4xl font-bold text-center">CAMBIAR CONTRASEÑA</p>
      <p class="text-l text-center">Por favor ingresa la nueva contaseña.</p>
    </div>

    <form
      class="mt-6 flex flex-col"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onSubmit()"
    >
      <label for="password">Nueva contraseña</label>
      <input
        formControlName="password"
        id="password"
        class="mb-3 mt-3 border px-4 py-2"
        type="password"
        placeholder="New password"
        required
      />
      <label for="passwordConfirm">Confirmar nueva contraseña</label>
      <input
        formControlName="passwordConfirm"
        id="passwordConfirm"
        class="mb-3 mt-3 border px-4 py-2"
        type="password"
        placeholder="Confirm new password"
        required
      />

      <button type="submit" class="my-5 w-full bg-blue-700 py-2 text-white">
        CAMBIAR CONTRASEÑA
      </button>
    </form>
  </div>
</section>
