<!-- Offer image  -->

<div class="relative">
  <img
    class="w-full object-cover brightness-50 filter lg:h-[500px]"
    src="./assets/images/header-bg.jpeg"
    alt="Living room image"
  />

  <div
    class="absolute top-1/2 left-1/2 mx-auto flex w-11/12 max-w-[1200px] -translate-x-1/2 -translate-y-1/2 flex-col text-center text-white lg:ml-5"
  >
    <h1 class="text-4xl font-bold sm:text-5xl lg:text-left">
      Motul 7100 10w-30
    </h1>
    <p class="pt-3 text-xs lg:w-3/5 lg:pt-5 lg:text-left lg:text-base">
      ¡Potencia y protección en cada kilómetro!
      Con Motul 7100 10W-30 disfruta de un arranque suave, máxima protección del motor y un rendimiento superior en 
      cada rodada. Ideal para motos exigentes y amantes de la velocidad. 🏍️🔥
    </p>
    <button
      class="mx-auto mt-5 w-1/2 bg-slate-400 px-3 py-1 text-black duration-100 hover:bg-yellow-300 lg:mx-0 lg:h-10 lg:w-2/12 lg:px-10"
    >
      Comprar
    </button>
  </div>
</div>

<!-- /Offer image  -->

<!-- Cons bages -->

<section
  class="container mx-auto my-8 flex flex-col justify-center gap-3 lg:flex-row"
>
  <!-- 1 -->

  <div
    class="mx-5 flex flex-row items-center justify-center border-2 border-yellow-300 py-4 px-5"
  >
    <div class="">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6 text-gray-950 lg:mr-2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.25 18.75a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 01-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 00-3.213-9.193 2.056 2.056 0 00-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 00-10.026 0 1.106 1.106 0 00-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12"
        />
      </svg>
    </div>

    <div class="ml-6 flex flex-col justify-center">
      <h3 class="text-left text-xs font-bold lg:text-sm">Domilicio gratis</h3>
      <p class="text-light text-center text-xs lg:text-left lg:text-sm">
        En compras mayores a $100.000
      </p>
    </div>
  </div>
</section>

<!-- /Cons bages  -->

<h2 class="mx-auto mb-5 max-w-[1200px] px-5 text-center">COMPRAR POR CATEGORÍA</h2>

<!-- Cathegories -->
<section
  class="mx-auto grid max-w-[1200px] grid-cols-2 px-5 lg:grid-cols-3 lg:gap-5"
>
  <!-- 1 -->

  <a href="#">
    <div class="relative cursor-pointer">
      <img
        class="mx-auto h-auto w-auto brightness-50 duration-300 hover:brightness-100"
        src="./assets/images/frenos.png"
        alt="bedroom cathegory image"
      />

      <p
        class="pointer-events-none absolute top-1/2 left-1/2 w-11/12 -translate-x-1/2 -translate-y-1/2 text-center text-white lg:text-xl"
      >
        Pastillas, bandas & discos de frenos
      </p>
    </div>
  </a>

  <!-- 2 -->

  <a href="#">
    <div class="relative cursor-pointer">
      <img
        class="mx-auto h-auto w-auto brightness-50 duration-300 hover:brightness-100"
        src="./assets/images/matrass.png"
        alt="Matrass cathegory image"
      />

      <p
        class="pointer-events-none absolute top-1/2 left-1/2 w-11/12 -translate-x-1/2 -translate-y-1/2 text-center text-white lg:text-xl"
      >
        Kit de arrastre
      </p>
    </div>
  </a>

  <!-- 3  -->

  <a href="#">
    <div class="relative cursor-pointer">
      <img
        class="mx-auto h-auto w-auto brightness-50 duration-300 hover:brightness-100"
        src="./assets/images/outdoors.png"
        alt="kitchen cathegory image"
      />

      <p
        class="pointer-events-none absolute top-1/2 left-1/2 w-11/12 -translate-x-1/2 -translate-y-1/2 text-center text-white lg:text-xl"
      >
        Carenajes farolas & guardabarros
      </p>
    </div>
  </a>

  <!-- 4 -->

  <a href="#">
    <div class="relative cursor-pointer">
      <img
        class="mx-auto h-auto w-auto brightness-50 duration-300 hover:brightness-100"
        src="./assets/images/tornillos.png"
        alt="bedroom cathegory image"
      />

      <p
        class="pointer-events-none absolute top-1/2 left-1/2 w-11/12 -translate-x-1/2 -translate-y-1/2 text-center text-white lg:text-xl"
      >
        Tornillería especial
      </p>
    </div>
  </a>

  <!-- 5  -->

  <a href="#">
    <div class="relative cursor-pointer">
      <img
        class="mx-auto h-auto w-auto brightness-50 duration-300 hover:brightness-100"
        src="./assets/images/lubricantes.png"
        alt="bedroom cathegory image"
      />

      <p
        class="pointer-events-none absolute top-1/2 left-1/2 w-11/12 -translate-x-1/2 -translate-y-1/2 text-center text-white lg:text-xl"
      >
        Aceites y lubricantes
      </p>
    </div>
  </a>

  <!-- 6 -->

  <a href="#">
    <div class="relative cursor-pointer">
      <img
        class="mx-auto h-auto w-auto brightness-50 duration-300 hover:brightness-100"
        src="./assets/images/electricas.png"
        alt="bedroom cathegory image"
      />

      <p
        class="pointer-events-none absolute top-1/2 left-1/2 w-11/12 -translate-x-1/2 -translate-y-1/2 text-center text-white lg:text-xl"
      >
        Partes eléctricas
      </p>
    </div>
  </a>
</section>
<!-- /Cathegories  -->

<!-- /Slider  -->

<p class="mx-auto mt-10 mb-5 max-w-[1200px] px-5 text-center">LO MAS VENDIDO</p>

<!-- Slider  -->

<section
  class="splide mx-auto max-w-[1200px] px-5 py-2"
  aria-label="Splide Basic HTML Example"
>
  <div class="splide__track">
    <ul class="splide__list mx-auto max-w-[1200px]">
      <!-- 1 -->
      <li class="splide__slide">
        <div class="flex flex-col">
          <img
            class=""
            src="./assets/images/mobil2050.png"
            alt="Mobil 20w50"
          />

          <div>
            <p class="mt-2">Mobil 20w 50</p>
            <p class="font-medium text-blue-800">
              $45.000
              <!-- <span class="text-sm text-gray-500 line-through">$500.00</span> -->
            </p>
            <div>
              <button class="my-5 h-10 w-full bg-slate-400 text-black">
                Añadir al carrito
              </button>
            </div>
          </div>
        </div>
      </li>

      <!-- 2 -->
      <li class="splide__slide">
        <div class="flex flex-col">
          <img
            class=""
            src="./assets/images/FarolaNsLed.jpg"
            alt="Mobil 20w50"
          />

          <div>
            <p class="mt-2">Farola Pulsar Ns 200 Led</p>
            <p class="font-medium text-blue-800">
              $259.000
              <!-- <span class="text-sm text-gray-500 line-through">$500.00</span> -->
            </p>
            <div>
              <button class="my-5 h-10 w-full bg-slate-400 text-black">
                Añadir al carrito
              </button>
            </div>
          </div>
        </div>
      </li>

      <!-- 3 -->
      <li class="splide__slide">
        <div class="flex flex-col">
          <img
            class=""
            src="./assets/images/mobil2050.png"
            alt="Mobil 20w50"
          />

          <div>
            <p class="mt-2">Cilindro NKD 125 Original</p>
            <p class="font-medium text-blue-800">
              $259.000
              <!-- <span class="text-sm text-gray-500 line-through">$500.00</span> -->
            </p>
            <div>
              <button class="my-5 h-10 w-full bg-slate-400 text-black">
                Añadir al carrito
              </button>
            </div>
          </div>
        </div>
      </li>

      <!-- 4 -->
      <li class="splide__slide">
        <div class="flex flex-col">
          <img
            class=""
            src="./assets/images/mobil2050.png"
            alt="Mobil 20w50"
          />

          <div>
            <p class="mt-2">Pastillas de Pulsar En Kroos</p>
            <p class="font-medium text-blue-800">
              $21.000
              <!-- <span class="text-sm text-gray-500 line-through">$500.00</span> -->
            </p>
            <div>
              <button class="my-5 h-10 w-full bg-slate-400 text-black">
                Añadir al carrito
              </button>
            </div>
          </div>
        </div>
      </li>

      <!-- 5 -->
      <li class="splide__slide">
        <div class="flex flex-col">
          <img
            class=""
            src="./assets/images/mobil2050.png"
            alt="Mobil 20w50"
          />

          <div>
            <p class="mt-2">Motul 5100 15w-50</p>
            <p class="font-medium text-blue-800">
              $40.000
              <!-- <span class="text-sm text-gray-500 line-through">$500.00</span> -->
            </p>
            <div>
              <button class="my-5 h-10 w-full bg-slate-400 text-black">
                Añadir al carrito
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
