<section class="mx-auto flex-grow w-full mt-10 mb-10 max-w-[1200px] px-5">
  <div class="container mx-auto border px-5 py-5 shadow-sm md:w-1/2">
    <div>
      <p class="text-4xl font-bold text-center">HAS OLVIDADO TU CONTRASEÑA</p>
      <p class="text-l text-center">
        ¿Olvidaste tu contraseña? No te preocupes. Podemos ayudarte a restablecerla.
      </p>
    </div>

    <form
      [formGroup]="forgetpasswordForm"
      (ngSubmit)="onSubmit()"
      class="mt-6 flex flex-col"
    >
      <label for="email">Email</label>
      <input
        formControlName="email"
        id="email"
        class="mb-3 mt-3 border px-4 py-2"
        type="email"
        placeholder="Tu correo electrónico registrado"
        required
      />
      <button type="submit" class="my-5 w-full bg-violet-900 py-2 text-white">
        Restablecer contraseña
      </button>
    </form>

    <p class="text-center text-gray-500">O</p>

    <p class="text-center">
      ¿Recuerdas tu contraseña?
      <a routerLink="/login" class="text-violet-900">Inicia sesión ahora</a>
    </p>
  </div>
</section>
